# Database Configuration
DATABASE_URL=

# Redis Configuration
REDIS_URL=

# Security
JWT_SECRET=

# Services Ports
PORT=

# Client Variables
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WS_URL=

# JWT Configuration
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Argon2 Tuning (optional)
ARGON2_MEMORY_COST=
ARGON2_TIME_COST=
ARGON2_PARALLELISM=
